name: Build and Deploy
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20-alpine
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm i -g pnpm@latest

      - name: Setup pnpm
        run: pnpm --version

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Copy CNAME file
        run: cp CNAME dist/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages